/*
primary: #689f38
primary: #689f38
primary: #33691e
primary: #b3e5fc
secondary: #e8f5e9
* 
*/



.root {
	-fx-background-color: #fafafa;
	
}

.tab-pane {
	-fx-background-color: #fafafa;
}

.button {
	-fx-background-color: #689f38;

}


.button:hover {
	-fx-background-color: #33691e;
}



.combo-box-base {
	-fx-background-color: #689f38;
	-fx-background: transparent;
}



.combo-box-base:hover {
	-fx-background-color: #33691e;
}


.text-field {
	-fx-background-color: #e0e0e0;
	-fx-prompt-text-fill: #212121;
	-fx-text-fill: #000000;
}


.text-area {
	-fx-background-color: #e0e0e0;
	-fx-prompt-text-fill: #212121;
	-fx-text-fill: #000000;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-opacity: 1;
	-fx-background-color: #33691e;
}

.tab-pane .tab-header-area .headers-region .tab:bottom {
	-fx-background-color: #fafafa;
}

.tab-pane .tab {
	-fx-background-color: #689f38;
}

.tab-pane .tab:selected {
	-fx-background-color: #fafafa;
	-fx-background-insets: 0, 0.0 -1 0 0, 0;
}


.list-cell {
	-fx-background-color: #e0e0e0;
	-fx-text-fill: #000000;
}

.list-cell:odd {
	-fx-background-color: #f5f5f5;
}

.list-view {
	-fx-background-color: #e0e0e0;
}

.list-cell:hover {
	-fx-background-color: #aed581;
}

.list-cell:selected {
	-fx-background-color: #689f38;
}

.list-cell:selected:hover {
	-fx-background-color: #33691e;
}

.combo-box .list-cell:filled:selected{
	-fx-background-color: #689f38;
}

.combo-box .list-view .list-cell:filled:selected:hover {
	-fx-background-color: #33691e;
}


.date-picker-popup .button {
	-fx-background-color: transparent;
}

.date-picker-popup .spinner .button .left-arrow, .date-picker-popup .spinner .button .right-arrow{
	-fx-background-color: #000000;
}

.date-picker-popup, .date-picker-popup .spinner .label {
	-fx-text-fill: #000000;
}

.date-picker-popup .spinner .label {
	-fx-background-color: #33691e;
}

.date-picker-popup .month-year-pane {
	-fx-background-color: #33691e;
}

.date-picker-popup .day-cell {
	-fx-background-color: #f5f5f5;
}

.date-picker-popup .selected {
	-fx-background-color: #aed581;
}

.date-picker-popup .day-cell:hover {
	-fx-background-color: #689f38;
}

.date-picker-popup .previous-month, .date-picker-popup .next-month {
	-fx-background-color: #e0e0e0;
}

.date-picker-popup .day-name-cell {
	-fx-background-color: #689f38;
	-fx-background-insets: 0 0 0 0;
}

.date-picker-popup .today {
	-fx-border-color: #689f38;
	-fx-border-width: 2px;
}


